<div class="container">
    <table class="table">
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">Name</th>
                <th scope="col">EquipCode</th>
                <th scope="col">OperatorCode</th>

            </tr>

        <tbody>
            <tr *ngFor="let data of table[1]; index as i">
                <td >{{ table[1][i]}}</td>
                <td >{{ table[2][i]}}</td>
                <td >{{ table[3][i]}}</td>
                <td >{{ table[4][i]}}</td>
            </tr>
        </tbody>
    </table>
</div>