<div class="sign-up-div container">
    <div class="form">
      <div class="form-bottom">
        <label>Purchase Orders List :</label>
        <table class="table vendor-item-table">
          <thead class="thead-dark">
            <th>sno</th>
            <th>Purchase Order No.</th>
            <th>Order Date</th>
            <th>Vendor Name</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
            <tr>
              <td>2</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
            <tr>
              <td>3</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
          </tbody>
        </table>
        <div class="button-div">
            <button routerLink="/">Close</button>
        </div>
      </div>
    </div>
  </div>
  