<div class="main">
  <div class="intro-div">
    <span class="heading">Welcome to TBD Portal</span>
    <span class="sub-heading">In association with CyberGrp. Inc.</span>
    <span>
      <a href="https://www.tailoredbrands.com/"><button class="know-more" >
        Know more
      </button></a>
    </span>
  </div>
  <div class="body-img">
  <div class="cards-container container">
      <span class="body-text">Choose One Of The Options Below: </span>
    <div class="cards-flex">
      <div class="flex">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <i class="fas fa-users"></i>
                <span class="cards-content">Vendor Management
                </span>
              </div>
            </div>
            <div class="flip-card-back">
              <a routerLink="/vendor/new">New Vendor Registration</a>
              <a routerLink="/vendor/edit">View/Edit Vendor Details</a>
              <a routerLink="/vendors">List All Vendors</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <i class="fas fa-shopping-bag"></i>
                <span class="cards-content">Purchase Order Management</span>
              </div>
            </div>
            <div class="flip-card-back">
                <a routerLink="order/new">Create Purchase Order</a>
                <a routerLink="order/edit">View/Edit Purchase Order</a>
                <a routerLink="order">List Purchase Orders</a>
              </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <i class="fas fa-file-invoice"></i>
                <span class="cards-content">Receiving/Invoice Update</span>
              </div>
            </div>
            <div class="flip-card-back">
                <a routerLink="/invoice/new">New Invoice Update</a>
                <a routerLink="/invoice/edit">View/Edit Invoice Details</a>
                <a routerLink="/invoices">List Invoices</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
