<div class="footer">
    <div class="flex1">
        <span>About Us</span>
        <span class="version">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique obcaecati a, doloremque accusantium laboriosam quisquam placeat soluta porro consequatur, deserunt suscipit esse quo excepturi ipsam sunt maiores? Possimus, cum aliquid.
        </span>
    </div>
    <div class="flex2">
        <span class="version1">Contact</span>
        <span class="version"><i class='fas fa-envelope' style='font-size:18px; color:#ffc107'></i>
            Email:
            info@cygrp.com</span>
                <span class="version"><i class='fas fa-map-marker-alt' style="font-size: 18px; color:#ffc107; "></i>
                    Address:
                <span>Cyber Group</span>
                <span>12900 Preston Rd</span>
                <span>Dallas, TX</span></span>
    </div>
    <div class="flex2">
        <span class="version1">Disclaimer</span>
        <span class="version">Property of CyberGroup 	&copy;</span>
        <span class="social-media"><i class='fab fa-facebook-square' style='font-size:36px'></i>
            <i class='fab fa-google' style='font-size:36px'></i>
            <i class='fab fa-linkedin' style='font-size:36px'></i></span>
    </div>
</div>