<div class="footer">
    <div class="flex1">
        <span>About Us</span>
        <span class="version">Cyber Group is the partner that works with you side-by-side at every turn. We help companies grow in unison with the ever-changing marketplace by implementing solutions with fast entry-to-market results. With our company’s proven veteran leadership and exceptional employee retention rate, clients can be sure they are guided by only the most experienced advisors.</span>
    </div>
    <div class="flex2">
        <span class="version1">Contact</span>
        <span class="version"><i class='fas fa-envelope' style='font-size:18px; color:#ffc107'></i>
            Email:
            info@cygrp.com</span>
                <span class="version"><i class='fas fa-map-marker-alt' style="font-size: 18px; color:#ffc107; "></i>
                    Address:
                <span>Cyber Group India Pvt LTD</span>
                <span>Block B, Sector 3</span>
                <span>Noida</span></span>
    </div>
    <div class="flex2">
        <span class="version1">Disclaimer</span>
        <span class="version">Property of CyberGroup 	&copy;</span>
        <span class="social-media"><i class='fab fa-facebook-square' style='font-size:36px'></i>
            <i class='fab fa-google' style='font-size:36px'></i>
            <i class='fab fa-linkedin' style='font-size:36px'></i></span>
    </div>
</div>