.navbar{
        box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.2) ;

}
button{
        outline: none !important;
    }
.bg-light{
        background-color: white !important;
        padding: .7rem 2rem !important;
}
a{
        font-weight: 300;
}
img{
        filter: blur(3px);
}