.stepper-container {
    margin: 0 auto;
}

.full-width > *{
    width: 100%;
    
}
.parent-div{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 36px 24px;

}
.step-header{
    border-radius: 40px;
    font-weight: 100;
}
.main{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-left: 80px;
    padding-right: 80px;

}

.flex-body-1{
    flex: 1;
}
.flex-body-2{
    flex: 1.5;
}
.body-image{
    background-image: url('../../assets/business.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
}