<div class="page-header-container">
  <div class="page-header container">
    <span>Purchase Orders</span>
  </div>
</div>
<div class="container container-background">
  <div class="container">
    <form [formGroup]="purchaseOrderForm" (ngSubmit)="filter()">
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Order Number</label>
        </div>
        <div class="col-md-3 col-7">
      <input type="text" placeholder="Order No." formControlName="OrderNo" class="form-control">
    </div>
    <div class="col-md-3 col-5 col-form-label">
      <label class="items-right">Vendor Name</label>
    </div>
    <div class="col-md-3 col-7">
      <input type="text" placeholder="Vendor Name" formControlName="VendorName" class="form-control">
    </div>
</div>
<div class="row">
  <div class="col-md-3 col-5 col-form-label">
    <label class="items-left">From Date</label>
  </div>
  <div class="col-md-3 col-7">

      <input type="text" formControlName="FromDate"
      placeholder="From Date"
      onfocus="(this.type='date')"
       class="form-control">
      </div>
      <div class="col-md-3 col-5 col-form-label">
        <label class="items-right">To Date</label>
      </div>
      <div class="col-md-3 col-7">

      <input type="text" formControlName="ToDate"
      placeholder="To Date"
      onfocus="(this.type='date')"
       class="form-control">
      </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-md-3">
      <button type="submit" class="btn btn-dark">Search</button>
    </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <th scope="col" width="10%">SNo.</th>
          <th class="align-right" scope="col" width="30%">Purchase Order No.</th>
          <th class="align-right" scope="col" width="30%">Order Date</th>
          <th class="align-left" scope="col" width="30%">Vendor Name</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemOrderList; let i = index">
            <td class="align-right">{{rowId+i }}</td>
            <td class="align-right">{{ item.id }}</td>
            <td class="align-right">{{ item.date | date: 'MM/dd/y' }}</td>
            <td class="align-left">{{ item.vendorName }}</td>
            <td><i (click)="openParticularOrder(item.id)" class="fas fa-edit"></i></td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5 , 10 , 25 ,100]" (page)="pagination($event)">
      </mat-paginator>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-dark" routerLink="/home" style="margin-top: 10px;">
        Back
      </button>
    </div>
  </div>
</div>