/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#img{
    background-image: url(./assets/img-extended-1.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    /* height:205px; */
    /* height: 100%; */
    /* filter: blur(3px); */
}
@media (max-width : 800px)
{
    #img{
            
            width: 100%;
            /* height: 1600px; */
            
            /* box-shadow: 0 50vh 0 50vh #202020; */
    
        
    }
}