<p class="headline">uniVerse POC</p>

<div class="container">
  <form id="mainform" [formGroup]="submitForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>File Name</mat-label>
      <input matInput placeholder="Enter File Name" id="filename" [formControl]="filename" name="filename">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Record Name</mat-label>
      <input matInput placeholder="Enter record name" [formControl]="recordname" name="recordname">
    </mat-form-field>
  </form>
</div>
<div id="btn">
  <button mat-raised-button id="read" (click)="readData()" type="button" class="mr-2" color="primary">{{ buttonText }}</button>
  <button mat-raised-button id="post" (click)="submitData(submitForm)" type="button" color="primary">Post data</button>
</div>

<display *ngIf="userdata" [userdata]="userdata"></display>