<div class="page-header-container">
  <div class="page-header container">
    <span>Invoices</span>
  </div>
</div>
<div class="container container-background">
  <form [formGroup]="invoiceForm" class="container">
    <div class="row">
      <div class="col-md-3 col-5 col-form-label">
        <label class="items-left">Invoice Number</label>
      </div>
      <div class="col-md-3 col-7">
        <input
          type="text"
          formControlName="invoiceNo"
          (keydown)="checkForExponential($event)"
          class="form-control"
        />
      </div>

      <div class="col-md-3 col-5 col-form-label">
        <label class="items-right">Order Number</label>
      </div>
      <div class="col-md-3 col-7">
        <input
          type="text"
          id="orderNo"
          formControlName="orderNo"
          (keydown)="getItemOrderDetail($event)"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-5 col-form-label">
        <label class="items-left">Invoice Date</label>
      </div>
      <div class="col-md-3 col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-calendar-alt"></i>
            </span>
          </div>
          <input
            type="text"
            formControlName="invoiceToDate"
            class="date"
            placeholder="To Date"
            onfocus="(this.type='date')"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-calendar-alt"></i>
            </span>
          </div>
          <input
            type="text"
            formControlName="invoiceFromDate"
            class="date"
            placeholder="From Date"
            onfocus="(this.type='date')"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <hr />
    <label>Invoices:</label>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <th scope="col" width="10%" class="right">SNo.</th>
          <th scope="col" width="20%" class="right">Invoice No.</th>
          <th scope="col" width="20%" class="right">Order No.</th>
          <th scope="col" width="20%" class="right">Amount</th>
          <th scope="col">View</th>
        </thead>
        <tbody>
          <tr *ngFor="let id of invoiceData; let i = index">
            <td class="right" width="10%">{{ i + 1 }}</td>
            <td class="right" width="20%">{{ id[0] }}</td>
            <td class="right" width="20%">{{ id[1] }}</td>
            <td class="right" width="20%">${{ id[2] }}</td>
            <td><i class="fas fa-eye"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="button-div"></div>
  </form>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-1 col-3">
      <button class="btn btn-dark" routerLink="/"> Back
      </button>
    </div>
    <div class="col-1"></div>
  </div>
</div>
