<div class="container">
    <form id="mainform" [formGroup]="submitForm" enctype="multipart/form-data">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>File Name</mat-label>
            <input matInput placeholder="Enter File Name" id="filename" [formControl]="filename" name="filename">
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="w-100">
            <mat-label>Record Name</mat-label>
            <input matInput placeholder="Enter record name" [formControl]="recordname" name="recordname">
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline" class="w-100">
            <mat-label>Universe command</mat-label>
            <input matInput placeholder="Enter Universe Command" [formControl]="usercmd" name="usercmd">
        </mat-form-field> -->
    </form>
</div>
<div id="btn">
    <button mat-raised-button id="read" (click)="readData(submitForm)" type="button" class="mr-2" color="primary">Show
        Data</button>
</div>
<display *ngIf="tableData" [userdata]="userData" [table]="tableData"></display>