button{
    outline: none !important;
}
.invoice-heading{
    background-color: #202020;
    height: 90px;
}
.invoice-head{
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    font-size: 1.7em;
    padding-top: 25px;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.sign-up-div{
    margin: 10px auto 30px auto;
    display: flex;
}
p span{
    color: red;
    float: right;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    vertical-align: middle;
}
.form{
    
    width: 100%;
    padding: 30px;
    font-weight: 200;
    display: flex;
    border-radius: 6px;
    box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.2) ;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}
label{
    margin-right: 20px;
   
}
input,.input{
    /* display: block; */
    float: right;
    /* margin-right: 60px; */
}
.form-top{
    display: flex;
    flex-direction: row;
}

.form-top-left-items{
    flex: 3;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
}
.form-top-right-items{
    flex: 3;
    float: right;
    
}
.form-top-right-items label{
    margin-left: 60px;
}
.form-head{
    display: flex;
}
.form-head-left{
    flex: 3;
}
.form-head-right{
    flex: 3;
}
hr{
    height: 10px;
    margin-bottom: 20px;
    
}

.form-head-left,.form-head-right{
    margin-left: 20px;
    margin-right: 20px;
}
.form-head,.form-top,.form-bottom{
    margin: 20px;
}
.form-top-left-items,.form-top-right-items{
    margin-left: 20px;
}
.vendor-select{
    margin-top: 20px;
}
.vendor-name{
    border: none;
    border-bottom: 1px solid rgb(14, 14, 14)  ;
}
.vendor{
    margin-left: 40px;
}
::placeholder{
    text-align: center;
}

.vendor-name:focus{
    border-bottom: 2px solid blue;
    transition-duration: 0.4s;
    outline: none;
}
.remove{
    font-weight: 500;
    
}
.remove:hover{
    cursor: pointer;
}

select{
    /* height: 10px; */
   width: 205px;
}
option{
    font-weight: 200;
}
.vendor-item-table{
    display: inline-table;
    width: 100%;
    text-align: center;
    
}
img{
    color: rgba(255, 255, 255, 1);
}
.ship{
    display: block;
    margin-top: 40px;;
}
.vendor-select-control{
    width: 70%;
    float: right;
}
.hr-top{
    margin-top: 40px;
}
td button{
    border-radius: 40%;
    border: none;
    background-color: #343a40!important;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    cursor: pointer;
}
.button-div{
    margin-top: 30px;
    float: right;

}
.button-div button{
    margin: 10px;
    border: none;
    background-color: #282936;
    border-radius: 30px;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.2) ;
}
.vendor-item-table{
    width: 100%;
    
}

@media (max-width: 995px)
{
    .form-top{
        flex-direction: column;
    }
    .form-head{
        flex-direction: column;
    }
    .form{
        padding: 0;
    }
    .form-head-left,.form-head-right{
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .vendor-select{
        padding: 10px;
    }
    .vendor{
        margin-left: 20px;
    }
    .form-top-right-items label{
        margin: 0;
        margin-right: 0;
    }
    .form-top-left-items{
        margin-right: 0;
    }
}