<div class="sign-up-div container">
    <div class="form">
      <div class="form-top">
        <div class="form-top-left-items">
          <p>
            <label class="items-left">Invoice No.</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-left">Invoice Date</label>
            <input type="text" />
          </p>

        </div>
        <div class="form-top-right-items">
          <p>
            <label class="items-right">Order No.</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-right">Invoice Amount</label>
            <input type="text" />
          </p>

        </div>
       
      </div>
      <div class="form-bottom">
          <hr>
        <label>Items :</label>
        <table class="table vendor-item-table">
          <thead class="thead-dark">
            <th>sno</th>
            <th>Items</th>
            <th>Description</th>
            <th>Quantity Ordered</th>
            <th>Quantity Pending</th>
            <th>Quantity Received</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td>50</td>
              <td>30</td>
              <td>0</td>
              <td class="remove">X</td>
            </tr>
          </tbody>
        </table>
        <div class="button-div">
            <button>Save as Draft</button>
            <button>Receive</button>
            <button>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  