<div class="page-header-container">
  <div class="page-header container">
    <span>{{ purchaseOrderTitle }}</span>
  </div>
</div>
<div class="container container-background">
    <form [formGroup]="purchaseOrderForm" class="container">
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Order No.</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control order-no" placeholder="Order No." name="newOrder" formControlName="NewOrder"
          (keydown)="getItemOrderDetail($event)" />
        </div>
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Order Date</label>
        </div>
        <div class="col-md-3 col-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-calendar-alt"></i>
              </span>
            </div>
            <input type="date" class="form-control" name="orderDate" min="{{ date }}" formControlName="OrderDate" />
          </div>
          <span class="error-field" *ngIf="purchaseOrderForm.controls['OrderDate'].touched && purchaseOrderForm.controls['OrderDate'].invalid">Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="vendor">Vendor</label>  
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" placeholder=" -- Vendor -- " [ngbTypeahead]="vendorService.typeahead" [(value)]="vendorService.selectedVendor.id" (selectItem)="selectVendor($event)" autocomplete="doNotAutoComplete">
          <input type="hidden" formControlName="VendorName">
          <span *ngIf="purchaseOrderForm.controls['VendorName'].touched && purchaseOrderForm.controls['VendorName'].invalid"class="error-field">Required</span>
        </div>
      </div>
      <hr class="hr-top">
      <label class="ship">Ship To: </label>
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Company</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" name="companyName" formControlName="CompanyName">
          <span
            *ngIf="purchaseOrderForm.controls['CompanyName'].touched && purchaseOrderForm.controls['CompanyName'].invalid">Required</span>
        </div>
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-right">Contact Name</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" name="contactName" formControlName="ContactName">
          <span
            *ngIf="purchaseOrderForm.controls['ContactName'].touched && purchaseOrderForm.controls['ContactName'].invalid">Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Street</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" name="street" formControlName="Street">
          <span
            *ngIf="purchaseOrderForm.controls['Street'].touched && purchaseOrderForm.controls['Street'].invalid">Required</span>
        </div>
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-right">City</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" name="city" formControlName="City">
          <span *ngIf="purchaseOrderForm.controls['City'].touched && purchaseOrderForm.controls['City'].invalid">Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">State</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" placeholder=" -- State -- " [ngbTypeahead]="stateService.typeahead" [(value)]="selectedState" (selectItem)="selectState($event)" autocomplete="doNotAutoComplete">
          <input type="hidden" formControlName="State">
          <span *ngIf="purchaseOrderForm.controls['State'].touched && purchaseOrderForm.controls['State'].invalid">Required</span>
        </div>
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-right">Zip</label>
        </div>
        <div class="col-md-3 col-7">
          <input class="form-control" type="text" name="zipCode" formControlName="ZipCode" (keydown)="checkForExponential($event)" maxlength="6">
          <span
            *ngIf="purchaseOrderForm.controls['ZipCode'].touched && purchaseOrderForm.controls['ZipCode'].invalid">Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-5 col-form-label">
          <label class="items-left">Phone</label>
        </div>
        <div class="col-md-3 col-7">
          <input type="text" class="form-control" [imask]="{mask: '(000) 000-0000'}" required style="text-align: right;" name="phoneNumber" formControlName="PhoneNumber" (keydown)="checkForExponential($event)">
          <span
            *ngIf="purchaseOrderForm.controls['PhoneNumber'].touched && purchaseOrderForm.controls['PhoneNumber'].invalid">Required</span>
        </div>
      </div>
    </form>
    <form [formGroup]="itemOrderForm" class="container">
      <hr>
      <label>Items :</label>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <th scope="col" width="10%">S.No.</th>
            <th scope="col" width="32%">Item</th>
            <th scope="col" width="16%">Quantity</th>
            <th scope="col" width="16%">Unit Cost</th>
            <th scope="col" width="16%">Total Cost</th>
            <th scope="col" width="10%">Remove</th>
          </thead>
          <tbody>
            <tr *ngFor="let control of itemOrderForm.controls.SpecialRequests.controls; let i=index"
              [formGroup]="control">
              <th scope="row">{{ i+1 }}</th>
              <td>
                {{ control.value.ItemID }} <br/>
                {{ control.value.ItemDescription }}
              </td>
              <td>
                <input name="quantity" class="form-control" currencyMask [options]="{prefix: '', precision: 0}" formControlName="Quantity" (keyup)="calculateTotalPrice(i)" (focus)="$event.target.select()">
                <span class="error-field" *ngIf="control.controls.Quantity.errors?.required && control.controls.Quantity.touched">Required Field</span>
              </td>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input name="unitCost" class="form-control" currencyMask formControlName="UnitCost" (keyup)="calculateTotalPrice(i)" (focus)="$event.target.select(); $event.preventDefault()">
                </div>
                <span class="error-field" *ngIf="control.controls.UnitCost.errors?.required && control.controls.UnitCost.touched">Required Field</span>
              </td>
              <td>$ {{ control.value.TotalPrice| number:'1.2-5' }}</td>
              <td (click)="removeParticularItem(i)"><i class="fas fa-window-close"></i></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="6">
                <input type="text" class="form-control" formControlName="VendorItem" placeholder=" -- Item # -- " [ngbTypeahead]="vendorService.itemTypeahead" [value]="selectedItem" (selectItem)="selectItem($event)" style="text-align: right;" autocomplete="doNotAutoComplete">
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Grand Total</td>
              <td></td>
              <td></td>
              <td class="align-right">$ {{grandTotal| number:'1.2-5'}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>  
      </div>
      <p *ngIf="itemOrderError" class="item-order-error">Select atleast 1 item</p>
    </form>
    <div class="row">
      <div class="col"></div>
      <div class="col-md-1 col-3">
        <button class="btn btn-dark" type="submit" (click)="submitNewOrder(purchaseOrderForm,itemOrderForm,'submit')">Submit</button>
      </div>
      <div class="col-md-1 col-3">
        <button class="btn btn-light" (click)="submitNewOrder(purchaseOrderForm,itemOrderForm,'draft')">Draft</button>
      </div>
      <div class="mol-md-1 col-3">
        <button class="btn btn-light" routerLink="/">Cancel</button>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>