<div class="sign-up-div container">
    <div class="form">
      <div class="form-head">
        <div class="form-head-left">
          <label class="items-left">Order No.</label>
          <input type="text" class="vendor-name" placeholder="New Order" />
        </div>
        <div class="form-head-right">
            <label class="items-left">Order Date</label>
            <input type="date" class="order-date" />
            <i class="far fa-calendar-alt"></i>
        </div>
      </div>
      <div class="vendor-select">
          <label class="vendor">Vendor</label>
          <select class="form-control-sm vendor-select-control">
            <option>Vendor1</option>
            <option>Vendor2</option>
            <option>Vendor3</option>
          </select>
          <hr class="hr-top">

          <label class="ship">Ship To :</label>
      </div>
      <div class="form-top">
        <div class="form-top-left-items">
          <p>
            <label class="items-left">Company</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-left">Street</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-left">State</label>
            <select class="input form-control-sm">
              <option>lo</option>
              <option>B</option>
              <option>C</option>
            </select>
          </p>
          <p>
            <label class="items-left">Phone</label>
            <input type="text" />
          </p>
        </div>
        <div class="form-top-right-items">
          <p>
            <label class="items-right">Contact Name</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-right">City</label>
            <input type="text" />
          </p>
          <p>
            <label class="items-right">Zip</label>
            <input type="text" />
          </p>
        </div>
       
      </div>
      <div class="form-bottom">
          <hr>
        <label>Items :</label>
        <table class="table vendor-item-table">
          <thead class="thead-dark">
            <th>sno</th>
            <th>Items</th>
            <th>Description</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
            <tr>
              <td>2</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
            <tr>
              <td>3</td>
              <td>1234567</td>
              <td>Hones T-shirt adasdas</td>
              <td class="remove">X</td>
            </tr>
          </tbody>
        </table>
        <div class="button-div">
            <button>Save as Draft</button>
            <button>Submit</button>
            <button>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  